<ion-modal-view class="home_bg1">
  <ion-header-bar style="background-color: #11c1f3;">
    <div class="buttons">
      <h1 class="title white">شيفرهمی اونوتتم</h1> 
      <button class="button button-clear icon ion-android-close button-positive" style="color: #ffffff;" ng-click="sifremiUnuttumKapa()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="home_bg1 ">

    <div class="row " style="    margin-top: 75px;">
      <div class="col col-100 ortala " >
        <img class="unlem" style="width: 175px"src="img/icon.png">
      </div>
    </div>

    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input input home_bg1">
          <input style="color: #11c1f3;" type="text" placeholder="Telefon Numaranızı Giriniz." ng-model="loginData.phoneNumber">
        </label>

        <label class="">
          <button ng-disabled="!loginData.phoneNumber" ng-click="doForgot()"class="button btn submitbutton"  type="submit">Gönder</button>
        </label>

      </div>

    </form>

  </ion-content>
</ion-modal-view>
